-var navItems = [["Home", 'index.html'],["About"] ,["Contact us"] ,["Services","Octanorm","Media","Printing","Decoration"]];
-var navItemsAr = [["الرئيسية",'index-ar.html'],["عنا"] ,["تواصل معنا"],["خدماتنا","الاوكتانورم","الخدمات الصوتية و المرئية","خدمات الطباعة","الديكورات"]]; 

nav.navbar.navbar-expand-lg
  .container-fluid
    a.navbar-brand(href='#') 
      img(src="images/logo-transparent.png" alt="Site logo" width="150")
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mx-auto.mb-2.mb-lg-0
        if language == "en"
          each item in navItems
            if item.length <= 2
              li.nav-item.mx-1
                if pageTitle == item[0]
                  a.nav-link.active(aria-current='page', href= item[1] ? item[1] : item[0].toLowerCase().split(" ").join("_") + ".html" )= item[0]
                else
                  a.nav-link(aria-current='page', href= item[1] ? item[1] : item[0].toLowerCase().split(" ").join("_") + ".html" )= item[0]
            else 
              li.custom_dropdown.mx-1
                button.drop_btn  #{item[0]}
                  img(src="images/icons/chevron-down-solid.svg" alt="chevron-down-solid" , style="width:10px;margin-top:7px")
                .custom_dropdown-content
                  each section,index in item
                    if(index > 0)
                      a(href=`${section.toLowerCase().split(" ").join("_")}.html`) #{section}
                      hr.m-0
        else
          ul.navbar-nav.mx-auto.mb-2.mb-lg-0
            each item,itemIndex in navItemsAr
              if item.length <= 2 
                li.nav-item.mx-1
                  if pageTitle == item[0]
                    a.nav-link.active(href="#")= item[0]
                  else
                    a.nav-link(aria-current='page', href= item[1] ? item[1] : navItems[itemIndex][0].toLowerCase().split(" ").join("_") + "-ar.html" )= item[0]
              else 
                li.custom_dropdown.mx-1
                  button.drop_btn #{item[0]} 
                    img(src="images/icons/chevron-down-solid.svg" alt="chevron-down-solid" , style="width:10px;margin-top:7px")
                  .custom_dropdown-content
                    each section,index in item
                      if(index > 0)
                        a(href=`${navItems[itemIndex][index].toLowerCase().split(" ").join("_")}-ar.html`) #{section}
                        hr.m-0
      if (language == "ar")
        each item , index in navItemsAr
          if(item[0] == pageTitle)
            a.link-offset-2.link-underline.link-underline-opacity-0.language.text-dark.fw-bold(href =  navItems[index][1] ? navItems[index][1] : (navItems[index][0]).toLowerCase().split(" ").join("_") + '.html') English
          if(item.length > 2)
            each page,i in item 
              if(page == pageTitle )
                a.link-offset-2.link-underline.link-underline-opacity-0.language.text-dark.fw-bold(href= navItems[index][i].toLowerCase().split(" ").join("_") + '.html') English
      else 
        each item , index in navItems
          if(item[0] == pageTitle)
            a.link-offset-2.link-underline.link-underline-opacity-0.language.text-dark.fw-bold(href =  navItemsAr[index][1] ? navItemsAr[index][1] : (navItems[index][0]).toLowerCase().split(" ").join("_") + '-ar.html') عربى
          if(item.length > 2)
            each page in item 
              if(page == pageTitle )
                a.link-offset-2.link-underline.link-underline-opacity-0.language.text-dark.fw-bold(href= page.toLowerCase().split(" ").join("_") + '-ar.html') عربى